{
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "airbnb", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "no-mixed-operators": 0,
    "no-continue": 0,
    "class-methods-use-this": 0,
    "react/prefer-stateless-function": 0,
    "lines-between-class-members": 0,
    "react/jsx-props-no-spreading": 0,
    "eqeqeq": 0,
    "no-param-reassign": 0,
    "global-require": 0,
    "no-underscore-dangle": 0,
    "arrow-body-style": 0,
    "prefer-template": 0,
    "react/sort-comp": 0,
    "no-plusplus": 0,
    "react/destructuring-assignment": 0,
    "react/prop-types": 0,
    "react/jsx-filename-extension": 0
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"]
        ]
      }
    }
  },
  "overrides": [
    {
        "files": ["./config/*.js"],
        "rules": {
          "import/no-extraneous-dependencies": 0
        }
    }
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
